body{
    background-color: black;
}

.nameBanner {
    text-align: center;
    margin: auto;
    font-family: 'Passion One', cursive;
    font-size: 2em;
    color:lightcoral;
}

button{
    border: none;
    background-color: white;
    position: relative;
    margin-left: 30px;
    font-size: 1em;
    padding: 0;
}

footer{
    text-align: center;
    position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
   padding-bottom: 10px;
  color: lightcoral;
}

hr{
   height: 5px;
    color: slategray;
    background-color: slategray;
}

nav a:link{
    color: red;
    background-color: black;
}

nav a:visited{
    color: mediumpurple;
}

nav a:hover{
    font-weight: bold;
}

nav a:active{
    text-decoration: none;
}

.current{
    text-decoration: none;
}